body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:526px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094 {
  position:absolute;
  left:20px;
  top:200px;
}
#u1094_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:318px;
  height:160px;
  background-image:none;
}
#u1094_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:160px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#626262;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:110px;
  width:73px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#626262;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:76px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:15px;
  width:75px;
  height:76px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:58px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:24px;
  width:22px;
  height:58px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:19px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:129px;
  width:53px;
  height:16px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:302px;
  width:35px;
  height:32px;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:302px;
  width:35px;
  height:32px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:25px;
  width:87px;
  height:32px;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:30px;
  width:144px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
