body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:120px;
  width:38px;
  height:38px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:123px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:119px;
  width:68px;
  height:31px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:129px;
  width:21px;
  height:20px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:610px;
  width:375px;
  height:56px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:651px;
  width:25px;
  height:15px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:651px;
  width:25px;
  height:15px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:652px;
  width:28px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:652px;
  width:19px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:620px;
  width:71px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:624px;
  width:59px;
  height:40px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:625px;
  width:24px;
  height:24px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:628px;
  width:6px;
  height:18px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#B7B7B7;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:649px;
  width:21px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#B7B7B7;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
