body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:120px;
  width:38px;
  height:38px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:123px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:119px;
  width:68px;
  height:31px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:129px;
  width:21px;
  height:20px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:610px;
  width:375px;
  height:56px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:651px;
  width:25px;
  height:15px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:651px;
  width:25px;
  height:15px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:652px;
  width:28px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:652px;
  width:19px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#999999;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:620px;
  width:71px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:624px;
  width:59px;
  height:40px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:625px;
  width:24px;
  height:24px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:18px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:628px;
  width:6px;
  height:18px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#B7B7B7;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:649px;
  width:21px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#B7B7B7;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
