body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:19px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:30px;
  width:125px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:103px;
  width:114px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:611px;
  width:237px;
  height:40px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:233px;
  word-wrap:break-word;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:610px;
  width:113px;
  height:40px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:103px;
  width:183px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:122px;
  width:183px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:174px;
  width:278px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:397px;
  width:140px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:2px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:324px;
  width:59px;
  height:1px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:2px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:412px;
  width:208px;
  height:1px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:74px;
  width:342px;
  height:187px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:446px;
  width:129px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:2px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:461px;
  width:208px;
  height:1px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:357px;
  width:138px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:309px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:2px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:370px;
  width:175px;
  height:1px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:2px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:324px;
  width:59px;
  height:1px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:309px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:309px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
