body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:30px;
  width:125px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:236px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:281px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:326px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:366px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:416px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:461px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:501px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:546px;
  width:50px;
  height:20px;
  color:#999999;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:532px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:532px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:109px;
  width:39px;
  height:23px;
  color:#999999;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:113px;
  width:33px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:68px;
  width:112px;
  height:32px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
