body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:379px;
  height:667px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:220px;
  width:78px;
  height:15px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:220px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:195px;
  width:27px;
  height:28px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:412px;
  width:30px;
  height:30px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:23px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:416px;
  width:8px;
  height:23px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:442px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:178px;
  width:190px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:620px;
  width:70px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
