body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:379px;
  height:667px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:220px;
  width:78px;
  height:15px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:220px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:195px;
  width:27px;
  height:28px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:178px;
  width:190px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:620px;
  width:70px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:185px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:310px;
  width:64px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:311px;
  width:74px;
  height:63px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:350px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:321px;
  width:30px;
  height:30px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:23px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:325px;
  width:8px;
  height:23px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
