body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:379px;
  height:667px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:220px;
  width:78px;
  height:15px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:220px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:195px;
  width:27px;
  height:28px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:412px;
  width:30px;
  height:30px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:23px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:416px;
  width:8px;
  height:23px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:442px;
  width:60px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:178px;
  width:190px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:620px;
  width:70px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:185px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:310px;
  width:64px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
