body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:19px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1121 {
  position:absolute;
  left:20px;
  top:200px;
}
#u1121_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:318px;
  height:160px;
  background-image:none;
}
#u1121_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:160px;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#626262;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:110px;
  width:73px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#626262;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:76px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:15px;
  width:75px;
  height:76px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:58px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:24px;
  width:22px;
  height:58px;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
